@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
  background: #080E4B !important;
  min-height: 100vh;
}

input, textarea, select {
  color: #000 !important;
  background: white !important;
}

input::placeholder {
  color: #9ca3af !important;
}
